body {
	background-color: black;
}

.menyFoodDiv{
	
	align-items: center;
	text-align: center;
}
.meny-container{
	border: 1px solid rgb(22, 141, 62);
	border-radius: 10%;
		align-items: center;
		text-align: center;
		margin-left: 3em;
		margin-bottom: 0.5em;
	
}

.form-Info {
	display: flex;
		flex-direction: column;
		border-radius: 0.4em;
		padding: 1em;
		margin: 1em 0;
		background-color: rgb(32, 165, 32);
		margin-bottom: 3em;
	}


h1, h2{
	text-align: center;
	color:orange;
}

p{
	color:orange;
}